<section id="bloglist", class="bloglist">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center single-col">
        {% for post in site.posts %}
          <div class="item">
            <a href="{{post.url}}" title="{{ post.title }}">
              <h3>{{ post.title }}</h3>
            </a>
            <ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
          </div>
          <!-- add a dividing line -->
          {% unless forloop.last %}
            <hr>
          {% endunless %}
        {% endfor %}
        <!-- pagination links -->
        <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">
            &#60;&#60;Previous
          </a>
        {% else %}
          <span class="previous">
            &#60;&#60;Previous
          </span>
        {% endif %}
        <span class="page_number ">
          &emsp;|&emsp; Page: {{ paginator.page }} of {{ paginator.total_pages }} &emsp;|&emsp;
        </span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">
            Next&#62;&#62;
          </a>
        {% else %}
          <span class="next ">
            Next&#62;&#62;
          </span>
        {% endif %}
      </div>
      <!-- column -->
      </div>
    <!-- row -->
    </div>
  <!-- container -->
  </div>
</section>
