<aside class="blog">
  <div id = blog class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-lg-offset-0">
        <h1>Blog</h1>
        <hr class="small">
        <div class="row">
          <div class="col-md-12 col-sm-6">
            <div class="blogpost">
              <h4>
                <strong>Date</strong>
              </h4>
              <p><h4>preview of blog text</h4></p>
              <p class="text-justify">blog text.</p>
              <a href="#" class="btn btn-dark">Read More</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</aside>
