<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Katie Peterson</h1>
    <h2>Neuropsychology and dementia research</h2>
    <ul class="list-inline">
      <li>
        <a style="color: Black" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
      </li>
      <li>
        <a style="color: Black" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
      </li>
    </ul>
  </div>
</header>
