<aside class="mlseinfo">
  <div id="mlseinfo" class="container">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <p class="text-justify">The Mini Linguistic State Examination is a brief clinic-based instrument for the assessment of progressive aphasic syndromes. Click on the MLSE logo below to be redicrected to the official study website. I will also upload study posters and publications here in due course.</p>
      <br>
      <a href="http://mlsexam.com" target="_blank">
        <img class="mlse-logo" src="../../img/MLSElogo.png" width="300"></a>
      <br>
    </div>
  </div>
</aside>
