 <aside class="mlseinfo">
  <div id="mlseinfo" class="container">
   <div class="col-lg-10 col-lg-offset-1 text-center">
    <h2>My Research</h2>
    <br>
      <p class="text-justify">I am a research associate for the Cambridge arm of the MLSE study. We are currently recruiting patients with primary progressive aphasia to the study in Cambridge, London, and Manchester. We are also recruiting patients with other types of dementia, and patients with post-stroke aphasia. We aim to begin publishing results of the study in the coming months. I will update this page with my first-authored posters and papers relating to this project.</p>
      <br>
   </div>
   <div class="col-lg-10 col-lg-offset-1 text-center">
    <h2>Posters<sup>1</sup></h2>
      <br>
      <ul>
        <li align="left"><b>Development of the Mini Linguistic State Examination</b> <a href="../pubs/MLSE_AAIC2018_Poster1.pdf" target="_blank">[Download]</a> <i>presented at the Alzheimer's Association International Conference, 2018</i></li>
      <br>
   </div>
   <div class="col-lg-10 col-lg-offset-1 text-center">
    <h2>Publications<sup>2</sup></h2>
      <ul>
        <li align="left">TBA</li>
      <br>
    </div>
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <ol>
      <li align="left">This list contains my first-authored posters only. Check the MLSE website <a href="http://mlsexam.com/blog/" target="_blank">blog page</a> for other research outputs</li>
      <li align="left">This list contains my first-authored publications only. Click <a href="http://mlsexam.com/portfolio/" target="_blank">here</a> for the full list of publications from the MLSE study team</li>
    </div>
  </div>
</aside>
