 <aside class="mlseinfo">
  <div id="mlseinfo" class="container">
   <div class="col-lg-10 col-lg-offset-1 text-center">
    <h2><strong>My Research</strong></h2>
    <br>
      <p class="text-justify">I am a research associate for the Cambridge arm of the MLSE study. We are currently recruiting patients with primary progressive aphasia to the study in Cambridge, London, and Manchester. We are also recruiting patients with other types of dementia, and patients with post-stroke aphasia. We aim to begin publishing results of the study in the coming months. I will update this page with my first-authored posters and papers relating to this project.</p>
      <br>
   </div>
   <div class="col-lg-10 col-lg-offset-1 text-center">
    <h3><font color="purple">Posters</font><sup>1</sup></h3>
      <ul>
        <li align="left"><b>Development of the Mini Linguistic State Examination</b> <a href="../pubs/MLSE_AAIC2018_Poster1.pdf" target="_blank">[Download]</a> <i>presented at the Alzheimer's Association International Conference, 2018</i></li>
       <li align="left"><b>Language impairment in progressive supranuclear palsy and corticobasal syndrome</b> <a href="../pubs/MLSE_ICFTD2018.pdf" target="_blank">[Download]</a> <i>presented at the 11th International Conference on Frontotemporal Dementias, 2018</i></li>
      <br>
   </div>
   <div class="col-lg-10 col-lg-offset-1 text-center">
    <h3><font color="purple">Publications</font><sup>2</sup></h3>
      <ul>
        <li align="left">Peterson, K. A., Patterson, K., & Rowe, J. B. (2019) Language impairment in progressive supranuclear palsy and corticobasal syndrome. <i>Journal of Neurology</i>, 1-14. doi: <a href="https://link.springer.com/article/10.1007%2Fs00415-019-09463-1" target="_blank">10.1007/s00415-019-09463-1</a></li>
      <br>
    </div>
    <br>
    <div class="col-lg-10 col-lg-offset-1 text-center">
     <p align="left"><font size="2" color="grey">Notes</p>
      <ol>
      <li align="left">This list contains my first-authored posters only. Check the MLSE website <a href="http://mlsexam.com/blog/" target="_blank">blog page</a> for other research outputs</li>
      <li align="left">This list contains my first-authored publications only. Click <a href="http://mlsexam.com/portfolio/" target="_blank">here</a> for the full list of publications from the MLSE study team</li></font>
    </div>
  </div>
</aside>
