<aside class="mlseinfo">
  <div id="mlseinfo" class="container">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <h2>Background</h2>
      <p class="text-justify">The MLSE study is an MRC-funded, multi-centre project which aims to develop a clinical test for the assessment and monitoring of progressive aphasic syndromes: The Mini Linguistic State Examination (MLSE). The study is led by St George’s, University of London, in conjunction with researchers at the University of Cambridge, the University of Manchester, and the Istituto Universitario di Studi Superiori di Pavia, Italy. The MLSE is also being adapted for use in other languages/ cultures. For more information about the study, including contact details, click on the MLSE logo below to be redirected to the official study website.</p>
      <br>
      <a href="http://mlsexam.com" target="_blank">
        <img align="center" class="mlse-logo" src="../../img/MLSElogo.png" width="250"></a>
    </div>
  </div>
</aside>
