<aside class="mlseinfo">
  <div id="mlseinfo" class="container">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <p class="text-justify">I will upload posters and publications related to this project in due course. In the meantime, click on the MLSE logo below to be redirected to the official study website.</p>
      <br>
      <a href="http://mlsexam.com" target="_blank">
        <img align="center" class="mlse-logo" src="../../img/MLSElogo.png" width="250"></a>
      <br>
    </div>
  </div>
</aside>
