<aside class="nphinfo">
  <div id="nphinfo" class="container">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <h2><strong>Background</strong></h2>
      <p class="text-justify">Normal pressure hydrocephalus (NPH) is a neurological disorder characterised by a build-up of cerebrospinal fluid (CSF) in the brain which causes the cerebral ventricles to become enlarged, despite apparently normal CSF pressure at lumbar puncture. This results in a symptom triad of gait disturbance, urinary incontinence, and cognitive decline.</p>
      <p class="text-justify">NPH is recognised as an important cause of cognitive decline as it is thought to be reversible with treatment (e.g. with shunt surgery). While improvement following shunt surgery is most comonly observed in gait, there are reports of improvements in cognitive functions. This led to the somewhat controversial description of NPH as a "reversible dementia". However, early studies of NPH did not examine cognitive symptoms in great detail. Only in more recent years has there been greater emphasis on quantifying cognitive outcome following treatment for NPH using more detailed neuropsychological testing. Part of my research in the Department of Psychiatry at the University of Cambridge was to investigate neuropsychological outcome in NPH in more detail.</p>
      <hr class="small">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x" style="color:Azure"></i>
        <i class="fa fa-file-text fa-stack-1x" style="color:DarkBlue"></i>
      </span>
      <br>
    </div>
  </div>
</aside>
